<p>Título: {{ livro.titulo | camelCase}} </p> 
<p>Estrelas: {{ livro.rating | number:'1.1-1'}} </p>
<p>Páginas: {{ livro.numeroPaginas }}</p>
<p>Preço: {{ livro.preco | currency:'BRL'}}</p>
<p>Data lançamento: {{ livro.dataLancamento | date:'dd-MM-yyyy' }} </p>
<p>Url: {{ livro.url }} </p>

<br>

<p>Livro: {{ livro | json}}</p>


<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add curso</button>


<h5>Pipe puro</h5>
<ul>
    <li *ngFor="let liv of livros">{{ liv }}</li>
</ul>

<h5>Pipe impuro</h5>
<ul>
    <li *ngFor="let liv of livros">{{ liv }}</li>
</ul>

<h5>Maneira correta de filtos nos projetos.</h5>
<ul>
    <li *ngFor="let liv of obterLivros()">{{ liv }}</li>
</ul>
